body{
    background-image: url(cayoti.jpg);
}
h1{
    text-align: center;
}
#userequests{
    display: none;
}
#progress{
    display: none;
}
#usereviews{
    display: none;
}
.dash{
    display: non;
}
.one{
    cursor: pointer;
    color: lightgreen;
}
.prog{
    cursor: pointer;
}
.NOTIFY{
    color: lightsalmon;
}
#TRENDING{
    display: none;
} 
#colorone{
    background-color: purple;
}
#colortwo{
    background-color: orchid;
}
#colorthree{
    background-color: olivedrab;
}
#colorfour{
    background-color: rgb(19, 19, 15);
}
.card{
    background-color:navajowhite;
}
#dp{
    padding-left: 42%;
}
